/*import font Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
}

body {
    min-height: 1000px;
    background-color: rgba(0, 0, 0, 0.01);
}


header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    transition: 0.5s;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 40px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
}

header .return {
    color: aliceblue;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .return:after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(5, 155, 241);
    display: block;
    margin: auto;
    transition: 0.5s;
}

header .return:hover::after {
    width: 100%;
}

header .return:hover {
    color: rgb(255, 255, 255);
}

header .return span {
    color: #ee88aa;
}

header .navbar .navigation {
    position: relative;
    display: flex;
    margin-right: 15px;
}

header .navbar .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navbar .navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

header .navbar .navigation li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(5, 155, 241);
    display: block;
    margin: auto;
    transition: 0.5s;
}

header .navbar .navigation li a:hover::after {
    width: 100%;
}

header .navbar .navigation li a:hover {
    color: rgb(255, 255, 255);
}

body {
    min-height: 1000px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.01);
}

section {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

/* .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
} */

.Detailstxt {
    color: black;
    font-size: 3.5em;
    font-weight: 300;
}

.Detailstxt span {
    color: #ee88aa;
    font-weight: 700;
    font-size: 1.5em;
}

.Headingtxt {
    color: black;
    font-size: 2em;
    font-weight: 300;
}

.Headingtxt span {
    color: #ee88aa;
    font-weight: 700;
    font-size: 1.5em;
}

/* .row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;

}

.row .col50 .imgBx .slideshow {
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid rgb(35, 171, 250);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="picture"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
} */


.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.Headingtxt {
    color: black;
    font-size: 2em;
    font-weight: 300;
}

.Headingtxt span {
    color: #ee88aa;
    font-weight: 700;
    font-size: 1.5em;
}

.btn {
    font-size: 1rem;
    color: aliceblue;
    display: inline-block;
    background: #ee88aa;
    padding: 10px 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

#btn1 {
    margin-bottom: 60px !important;
}

.btn:hover {
    letter-spacing: 6px;
}

.others {
    margin-top: 10px !important;
}

.others .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.others .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
}

.others .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.others .content .box .imgBx img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.others .content .box .imgBx a img:hover {
    transform: scale(1.1);
}

.others .content .box .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.others .content .box .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.others .content .box .overlay .popup {
    margin: 180px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.others .content .box .overlay .popup h2 {
    margin-top: 0;
    color: #333;
}

.others .content .box .overlay .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.others .content .box .overlay .popup .close:hover {
    color: #ee88aa;
}

.others .content .box .overlay .popup .content {
    max-height: 100%;
    overflow: auto;
    text-align: left !important;
    justify-content: left !important;
}

.others .content .box .text {
    padding: 15px 0 5px;

}

.others .content .box .text h3 {
    font-weight: 400;
    color: black;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(233, 229, 229);
}

footer div {
    color: black;
    text-align: left !important;
}

footer div a {
    color: black;
    text-align: left !important;
    text-decoration: none;
}

footer .navbar .navigation {
    position: relative;
    display: flex;
    float: right;
    margin-right: 65px;
    bottom: 30px;

}

footer .navbar .navigation li {
    list-style: none;
    margin-left: 30px;
}

footer .navbar .navigation li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

footer .navbar .navigation li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(5, 155, 241);
    display: block;
    margin: auto;
    transition: 0.5s;
}

footer .navbar .navigation li a:hover::after {
    width: 100%;
}

footer .navbar .navigation li a:hover {
    color: rgb(0, 0, 0);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100%;
}

.flex-container .imgBx {
    position: relative;
    width: 100%;
    height: 600px;
}

.flex-container .imgBx img:hover{
    transform: scale(1.1);
}

.flex-container .imgBxSm {
    position: relative;
    width: 60%;
    height: 600px;
}

.flex-container .imgBxSm ul {
    list-style: none;
}

.flex-container .imgBxSm ul li img {
    width: 100%;
    height: 100%;
    max-height: 180px;
    min-width: 100%;
    object-fit: contain;
}

.flex-container .imgBxSm ul li img:hover {
    transform: scale(1.1);
}

.flex-container .imgBx img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:960px) {
    header {
        padding: 10px 20px;
    }

    header .return {
        font-size: 1.8em;
    }

    header .navbar .navigation {
        display: block;
    }

    /* .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }

    .row .col50 .imgBx .slideshow {
        width: 100%;
        height: 100%;
        overflow: hidden;
    } */

    .flex-container {
        flex-direction: column;
    }

    .flex-container .imgBx {
        width: 100%;
        position: relative;
    }

    .flex-container .imgBxSm {
        width: 100%;
        height: 80px;
    }

    .flex-container .imgBxSm ul li img {
        width: 100px;
    }

    .flex-container .imgBx {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        width: 100%;
    }

    .flex-container .imgBx img {
        width: 95%;
        height: 100%;
        object-fit: contain;
    }

    .flex-container .imgBxSm ul li img {
        padding-right: 20px;
        display: inline;
        float: left;
        min-width: 32%;
    }

    .Headingtxt {
        font-size: 1.5em;
    }

    .Detailstxt {
        font-size: 2.5em;
    }

    .flex-container .price {
        width: 87%;
    }
    .others .content {
        margin-top: 20px;
    }

    .others .content .box {
        margin: 10px;
    }

    .others .content .box .overlay .popup {
        width: 90%;
    }

    .others .content .box .overlay .popup {
        margin: 100px auto;
    }

    .others .content .box .imgBx {
        height: 260px;
    }

    section {
        padding: 15px;
    }

    footer div,
    footer div a {
        margin-top: 20px;
    }

    footer .navbar .navigation {
        display: none;
    }
}